.welcome{
    height:100vh;
    display: flex;
    flex-direction: column;
    //渐变色
    background-image: linear-gradient(to bottom, var(--welcome-bg-jianBian-from)0%,var(--welcome-bg-jianBian-to)100%);
   
    
    > header{
        height:100vh;
        width: 100vw;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding-top: 66px;
        color: var(--welcome-header-color);
    }
   
}