:root{
    --First-card-bg:rgb(255, 208, 216);
    --First-actions-color:white;
    --welcome-header-color:rgb(252,148,19);
    --welcome-bg-jianBian-from:rgb(64,133,98);
    --welcome-bg-jianBian-to:rgb(248,197,119);
    --welcome-nav-height:76px;
    --App-scss-body-color:#333;
    --z-index-bottom-nav:10;

}